@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.header{
    width: 100%;
    min-height: 100px;
    background-image: url(../imgs/message2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    margin: auto;
}
.header-content{
    text-align: center;
    color: bisque;
    padding: 100px 0;
}
.header-content p{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}
.mainlogo{
    background-image: url('../imgs/honeycomb.png');
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: whitesmoke;
}
.mainlogo span{
    padding: 0;
}
.logotitle{
    font-family: 'Comfortaa', cursive;
    font-size: 90px;
    color: #DCED31;
    text-shadow: 5px 5px 8px black;
}
.logosubt{
    font-family: 'Neucha', cursive;
    font-size: 40px;
    text-shadow: 5px 5px 8px black;
}
.content{
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.card-img-top{
    object-fit: scale-down;
    height: 410px;
}
.card{
    border: none;
}
.footer{
    padding: 50px;
    background-color: #3B7080;
}

.footer .foocontent{
    width: 90%;
    margin: auto;
}

.footer .bottom{
    text-align: center;
    color: whitesmoke;
    font-size: small;
}

.contact{
    width: 960px;
    margin: auto;
}
.contact form button{
    width: 100%;
}

.privacy{
    max-width: 960px;
    margin: auto;
}